@import url(fontawesome-all.min.css);
/* 힘들어서 만든 페이지 리스트  */
@media screen and (min-width: 1px) {
  .inner.banner {
    width: 100%;
    max-width: 95%;
  }
}
@media screen and (max-width: 1440px) {
  .inner.banner {
    padding: 0 30px;
  }
}

/* 최상단 배너 */
.main-banner-container {
  display: flex;
  align-items: center;
}
.main-banner-container > .description{
  width: 60%;
}

.main-banner-container > .description > .text-1 {
  font-size: 40px;
  font-weight: bold;
  color: #222;
  word-break: keep-all;
}
.main-banner-container > .description > .text-2 {
  font-size: 32px;
  font-weight: bold;
  color: #222;
  margin-top: 2px;
  word-break: keep-all;
}
.main-banner-container > .description > .text-3 {
  font-size: 17px;
  color: #666;
  margin-top: 18px;
}	
.main-banner-container > .description > .tools {
  margin-top: 40px;
}	
.main-banner-container > .btn.btn-secondary {
  background: #f85272;
  color: #fff;
  font-size: 13px;
  padding: 8px 16px;
  border-radius: 17px;
  font-weight: bold;
}	
.main-banner-container > .btn.btn-secondary.hero-upload {
  padding: 8px 24px;
}
.btn.btn-secondary-show {
  background-color: transparent;
  color: #f85272;
  text-decoration: none;
}
.btn.btn-secondary.hero-upload {
  padding: 8px 24px;
}
.btn.btn-secondary {
  background: #f85272;
  color: #fff;
  font-size: 13px;
  /* padding: 8px 16px; */
  border-radius: 17px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
a.btn.btn-secondary-show {
  position: absolute;
}
/* 카테고리 바 */
.filter-mobile{
  display: flex;
  margin: 0 auto;
}

.searchMenu {
	display: inline-flex;
	align-items: center;
}
.searchTerm {
	border-radius: initial;
    height: 30px;
    width: 100%;
}
select#category, select#from {
  width: 40%;
  height: 30px;
}
/* @media screen and (min-width: 546px ) {
  select#category, select#from {
    width: 40%;
  }
} */
@media screen and (min-width: 1660px ) {
  select#category, select#from {
    width: 40%;
    line-height: initial;
  }
}

/*         */
.inner-image {
  width: 40%;
}
.posts {
  padding: 0 30px;
}
.posts > article .image img {
  width: 100%;
  border-radius: 6px;
}
a.image:hover img {
  border-radius: 6px;
}

/* post info 정보 */
.info {
/* padding: 18px 13px; */
  position: relative;
}
/* post title */
.title {
  color: #222;
  padding: 0;
  /* position: absolute; */
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal !important;
  display: block;
}
/* profile icon 아이콘은 원형으로 */
img.icon-round {
  border-radius: 50%;
}

/* post bottom */

.bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  margin-top: 10px;
  position: relative;
  min-width: 0;
}	
.bottom > div {
  flex: 1;
  display: flex;
}
.username img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.bottom .social-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #777777;
}
.bottom .social-info .hit-cnt img {
  width: 16px !important;
  height: 11px;
}
.bottom .social-info .like-cnt {
  margin-left: 16px;
}
.bottom .social-info .like-cnt img {
  width: 14px !important;
  height: 13px;
}
  @media screen and (min-width: 1px) {
    .view-icon, .love-icon, .comment-icon {
      vertical-align: middle;
      margin-right: 0px;
    }
  }
  
/* 포스트 카테고리 바 post category bar */
.original-main.project .filters-container {
  border-bottom: solid 1px #f1f1f1;
  border-top: solid 1px #f1f1f1;
  display: flex;
  padding-left: 10%;
}
.original-main .filters-container {
  margin: 48px 0px 20px 0px;
}
.filters-container .container {
    width: 100%;
    max-width: 1500px;
}
.filters-container .container {
  width: 100%;
  max-width: 1500px;
  text-align: center;
}
.filters-container .profile-filters {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
}
.project .btn.btn-soft-pink.btn-none-background {
  font-size: 1em;
  letter-spacing: -0.25px;
  font-weight: normal;
  color: #777777;
  font-family: 'NIXGONL-Vb';
  background-color: #ffffff;
  padding: 0 !important;
  /* width: unset !important; */
  margin-right: 32px;
  border: 0px;
  width: 5em;
}
.project .btn.btn-soft-pink.btn-none-background:hover, .project .btn.btn-soft-pink.btn-none-background.active {
  font-weight: bold;
  color: #f85272;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
  width: 5em;
}
@media screen and (max-width: 435px){
  .project .btn.btn-soft-pink.btn-none-background {
    width: auto;
  }
  .project .btn.btn-soft-pink.btn-none-background:hover, .project .btn.btn-soft-pink.btn-none-background.active {
    width: auto;
  }
}
.project .filter-side-divider {
  height: 14px;
  background-color: #e1e1e1;
  width: 1px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.project .filter .bootstrap-select .btn-default {
  color: #222222;
  letter-spacing: -0.25px;
  font-size: 0.929em;
  font-family: 'NIXGONL-Vb';
}
.project .filter .bootstrap-select .btn-default .caret {
  /* border-top: 4px solid #222222; */
  /* border-bottom: none; */

  /* 왜 안떠 ,,, */
  background: url("/resources/images/down-arrow.png"); 
  
  border: none;
  top: 30%;
  width: 14px;
  height: 14px;
}
.project .dropdown-menu.open {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  box-shadow: none;
  z-index: 99;
}
@media screen and (max-width: 447px) {
  .filter-mobile{
    display: flex;
  }
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu li {
  text-align: left;
  font-family: 'NIXGONL-Vb';
  letter-spacing: -0.25px;
  font-size: 0.857em;
}

.imgDiv {
  width: fit-content;
  height: 550px;
  margin: 0 auto;
}

.reviewImg {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.big-width {display: block;	width: 100%;}
.small-width {display: none;}
.table-wrapper {overflow-x: hidden !important;}

/* search  */
select {width: 25%;	display: inline;}
input[name='keyword'] {	width: 54%; display: inline;}
.search {	width: 20%;	margin-top: 5%; }
a.button.primary.icon.solid.fa-search {
	border-radius: 0;
	height: 30px;
	line-height: 30px;
}	
	@media ( max-width : 776px) {
		#searhForm { width: 100%;	}
		.writer { display: none;}
		.newDate {display: none;}
		.updateDate {display: none;	}
		.big-width {display: none;}
		.small-width {display: block;}
		.search {width: 100%;}
		select {width: 100%;}
		input[name='keyword'] {
			width: 100%;
			display: inline;
		}
	}
	@media screen and (max-width: 480px) {
		a.button.small {
			width: 100%;
		}
	}
	.page {justify-content: center;}
	#pagination_prev {float: left;}
	#pagination_next {float: right}

/*
반응형 
*/
@media screen and (max-width: 1980px){
  .imgDiv {
    height: 340px; 
  }
}
@media screen and (max-width: 980px){
  .imgDiv {
    width: 80%;
    height: 300px; 
  }
  
  .info {
    width: 80%;
    margin: 0 auto;
  }
  
  .main-banner-container {
    margin-bottom: 5%;
  }
  .original-main.project .filters-container {
  	padding-left: 0;
  }
}

@media screen and (max-width: 980px) {
  .filter-mobile {
    text-align: center;
  }
  .original-main.project .filters-container {
    display: block;
  }
  .filters-container .profile-filters {
    display: inline-block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 735px) {
	.searchMenu{
		display: inline-block;	
	}
  .main-banner-container > .description{
    width: 100%;
  }
  .inner-image {
    display: none;
  }
  .filters-container .profile-filters {
    display: inline-block;
  }
  select#category, select#from{
    width: 100%;
  }
}
