<component name="ArtifactManager">
  <artifact type="exploded-war" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="myWEB" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/../Camp_Corner/lib/jstl.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../Camp_Corner/lib/mybatis-3.5.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../Camp_Corner/lib/ojdbc6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../Camp_Corner/lib/standard.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../Camp_Corner/lib/tomcat-dbcp.jar" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="myWEB/web/Web" />
    </root>
  </artifact>
</component>