///
/// Momentum by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Form */

	form {
		margin: 0 0 _size(element-margin) 0;

		&.combined {
			@include vendor('display', 'flex');
			@include vendor('flex-direction', 'row');
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
			position: relative;
			width: 35rem;

			input[type="text"],
			input[type="password"],
			input[type="email"],
			select {
				@include vendor('flex-grow', '1');
				@include vendor('flex-shrink', '1');
				border-bottom-left-radius: _size(border-radius-alt);
				border-top-left-radius: _size(border-radius-alt);
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
			}

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				@include vendor('flex-grow', '0');
				@include vendor('flex-shrink', '0');
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				margin: 0;
				padding: 0 2.5rem;
			}

			@include breakpoint('<=small') {
				@include vendor('flex-direction', 'column');

				input[type="text"],
				input[type="password"],
				input[type="email"],
				select {
					border-bottom-right-radius: _size(border-radius);
					border-top-right-radius: _size(border-radius);
					margin-bottom: 1rem;
				}

				input[type="submit"],
				input[type="reset"],
				input[type="button"],
				button,
				.button {
					border-bottom-left-radius: _size(border-radius);
					border-top-left-radius: _size(border-radius);
				}

			}
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		@include vendor('appearance', 'none');
		border-radius: _size(border-radius);
		border: none;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1rem;
		text-decoration: none;
		width: 100%;

		&:invalid {
			box-shadow: none;
		}
	}

	label {
		display: block;
		font-size: 1rem;
		font-weight: _font(weight-bold);
		margin: 0 0 (_size(element-margin) * 0.5) 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"] {
		height: _size(element-height);
	}

	select {
		background-size: 1.25rem;
		background-repeat: no-repeat;
		background-position: calc(100% - 1rem) center;
		height: _size(element-height);
		padding-right: _size(element-height);
		text-overflow: ellipsis;

		&:focus {
			&::-ms-value {
				background-color: transparent;
			}
		}

		&::-ms-expand {
			display: none;
		}
	}

	textarea {
		padding: 0.75rem 1rem;
	}

	input[type="checkbox"],
	input[type="radio"], {
		@include vendor('appearance', 'none');
		display: block;
		float: left;
		margin-right: -2rem;
		opacity: 0;
		width: 1rem;
		z-index: -1;

		& + label {
			@include icon(false, solid);
			cursor: pointer;
			display: inline-block;
			font-size: 1rem;
			font-weight: _font(weight);
			padding-left: (_size(element-height) * 0.6) + 0.875rem;
			padding-right: 0.875rem;
			position: relative;

			&:before {
				border-radius: _size(border-radius);
				border: solid 1px;
				content: '';
				display: inline-block;
				font-size: 0.8rem;
				height: (_size(element-height) * 0.6);
				left: 0;
				line-height: (_size(element-height) * 0.575);
				position: absolute;
				text-align: center;
				top: (_size(element-height) * 0.10);
				width: (_size(element-height) * 0.6);

				@include breakpoint('<=xlarge') {
					top: (_size(element-height) * 0.05);
				}

				@include breakpoint('<=medium') {
					top: (_size(element-height) * -0.05);
				}
			}
		}

		&:checked + label {
			&:before {
				content: '\f00c';
			}
		}
	}

	input[type="checkbox"] {
		& + label {
			&:before {
				border-radius: _size(border-radius);
			}
		}
	}

	input[type="radio"] {
		& + label {
			&:before {
				border-radius: 100%;
			}
		}
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	@mixin color-form($p: null) {

		label {
			color: _palette($p, fg-bold);
		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="tel"],
		input[type="search"],
		input[type="url"],
		select,
		textarea {
			background-color: _palette(bg);
			border-color: _palette($p, border);
			color: _palette($p, fg);

			@if $p != null {
				color: _palette($p, bg);
			}

			&:focus {
				border-color: _palette(accent);
				box-shadow: 0 0 0 1px _palette(accent);

				@if $p != null {
					color: _palette($p, bg);
					border-color: _palette($p, border);
				}
			}
		}

		select {
			background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'><path d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='#{_palette($p, border)}' /></svg>");

			option {
				color: _palette($p, fg);
				background-color: _palette($p, bg);
			}
		}

		input[type="checkbox"],
		input[type="radio"], {
			& + label {
				color: _palette($p, fg);

				&:before {
					background: _palette($p, border-bg);
					border-color: _palette($p, border);
				}
			}

			&:checked + label {
				&:before {
					background-color: _palette(accent);
					border-color: _palette(accent);
					color: _palette(bg);
				}
			}

			&:focus + label {
				&:before {
					border-color: _palette(accent);
					box-shadow: 0 0 0 1px _palette(accent);
				}
			}
		}

		::-webkit-input-placeholder {
			color: transparentize(_palette(fg-light), 0.5) !important;
		}

		:-moz-placeholder {
			color: transparentize(_palette(fg-light), 0.5) !important;
		}

		::-moz-placeholder {
			color: transparentize(_palette(fg-light), 0.5) !important;
		}

		:-ms-input-placeholder {
			color: transparentize(_palette(fg-light), 0.5) !important;
		}
	}

	@include color-form;